@charset "UTF-8";
@font-face {
  font-family: "Gilrou-Medium";
  src: url("../Gilroy-Medium.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
body {
  font-family: "Gilrou-Medium";
}

.btn-primary {
  border-radius: 0;
  border: 2px solid #0094d6;
  background-color: #0094d6;
  color: #fff;
  margin: 5px auto;
  width: 100%;
  max-width: 290px;
  padding: 16px;
}
.btn-primary:focus, .btn-primary:hover {
  background-color: #fff;
  color: #2f2f2f;
}

.b-bottom {
  display: flex;
  width: 100%;
  text-align: center;
  position: relative;
  margin: 15px auto;
}
.b-bottom:after {
  content: "";
  width: 100px;
  border-bottom: 3px solid #0094d6;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.link {
  text-decoration: none;
  color: #c3c3c3;
}
.link:hover {
  color: #0094d6;
}

.nav-item .nav-link:hover {
  color: #0094d6;
}

p {
  color: #2f2f2f;
}

h2 {
  margin: 20px auto;
}

section {
  padding: 30px 0;
}

.button {
  text-align: center;
}

.icon {
  width: 40px;
  height: auto;
  margin: auto;
}
.icon svg {
  width: 100%;
  height: auto;
}

.block-title {
  text-align: center;
}

.border-block {
  border: 2px solid #0094d6;
  padding: 20px;
  text-align: center;
}
.border-block p {
  margin: 0;
}

.table-price table {
  width: 100%;
}
.table-price thead {
  text-align: center;
  color: #0094d6;
}
.table-price thead h3 {
  margin: 10px 0;
}
.table-price thead tr {
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #fbfbfb;
}
.table-price td {
  padding: 5px 0;
  border-bottom: 2px solid #fbfbfb;
}
.table-price td:nth-child(2) {
  text-align: right;
}
.table-price td:nth-child(1) {
  padding-right: 10px;
}

.back-arrow {
  position: absolute;
  top: 40%;
  left: 0;
  width: 25px;
  height: 25px;
}
.back-arrow img {
  width: 100%;
}

.accordion-button:not(.collapsed) {
  background-color: #fff;
  color: #c3c3c3;
}
.accordion-button:not(.collapsed):after {
  background-image: url("../icons/add.svg");
  transform: rotate(-135deg);
}
.accordion-button:focus {
  box-shadow: none;
}
.accordion-button:after {
  background-image: url("../icons/add.svg");
}

.light-grey-bg {
  background-color: #fbfbfb;
}

.box-shadow {
  box-shadow: 0 0 20px 0px #c3c3c3;
}

.contact {
  text-align: center;
}
.contact table {
  margin: auto;
}
.contact td {
  text-align: left;
  padding-right: 10px;
}

.page-not-found {
  text-align: center;
}
.page-not-found h1 {
  font-size: 72px;
  color: #0094d6;
}

.form-control {
  border: 1px solid #c3c3c3;
  border-radius: 0;
  padding: 20px;
}
.form-control:focus {
  border-color: #c3c3c3;
  box-shadow: none;
}

.text-light-grey {
  color: #c3c3c3;
}

.heading {
  position: relative;
}
.heading h1,
.heading h2 {
  width: 80%;
  margin: 0 auto 20px;
}

.block-item__title {
  font-size: 16px;
  font-weight: 600;
}

.block-item__body {
  padding: 20px 0;
}

.block-item__img {
  max-height: 200px;
  overflow: hidden;
}
.block-item__img img {
  width: 100%;
}

.login-form {
  padding: 0;
}
.login-form .modal-header {
  border: none;
}

.sing-up-block {
  max-width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.sing-up-block h2 {
  font-size: 48px;
  margin: 10px 0;
}
.sing-up-block p {
  font-size: 18px;
  margin: 10px 0;
}
.sing-up-block button {
  max-width: 300px;
  position: relative;
  margin: 30px 0;
}
.sing-up-block button:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -25px;
  height: 3px;
  width: 100px;
  margin: auto;
  background-color: #919ba6;
}
.sing-up-block div p {
  margin: 0;
}

.contact .btn-primary {
  max-width: 300px;
}

@media only screen and (min-width: 448px) {
  section {
    padding: 50px 0;
  }

  .contact {
    text-align: start;
  }
  .contact table {
    margin: 0;
  }

  .login-form {
    padding: 30px;
  }

  .sing-up-block {
    height: 780px;
  }
  .sing-up-block h2 {
    margin: 30px 0;
  }
  .sing-up-block p {
    margin: 30px 0;
  }
  .sing-up-block button {
    margin: 60px 0;
  }
  .sing-up-block button::after {
    bottom: -40px;
  }
}
@media only screen and (min-width: 768px) {
  .b-bottom {
    text-align: left;
    padding: 0;
  }
  .b-bottom h2 {
    margin: 20px 0;
  }
  .b-bottom:after {
    right: auto;
  }

  h2 {
    margin: 20px 0;
  }

  .button {
    text-align: left;
  }

  .content {
    padding: 0 80px;
  }
  .content .b-bottom:after {
    right: auto;
  }

  .back-arrow {
    left: -50px;
  }

  .page-not-found {
    text-align: start;
  }

  .heading h1,
.heading h2 {
    width: 100%;
  }
}
header {
  padding: 0;
}
header .navbar {
  padding: 0;
}
header .logo {
  width: 68px;
  padding: 5px 10px;
}
header .nav {
  flex-wrap: nowrap;
}
header .tabs {
  width: 100%;
  border-bottom: 1px solid #c3c3c3;
}
header .tab {
  width: 45px;
  height: 45px;
  border: none;
  border-radius: 0;
  border-left: 1px solid #c3c3c3;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .tab:focus {
  box-shadow: none;
}
header .tab .search-tab,
header .tab a {
  text-decoration: none;
  line-height: 1;
}
header .tab span {
  font-size: 20px;
  color: #c3c3c3;
}
header .phone span {
  color: #0094d6;
}

.lang .nav-link {
  padding: 5px;
  color: #c3c3c3;
  font-weight: 600;
  font-size: 12px;
}
.lang .nav-link:focus {
  color: #0094d6;
}

.navbar-expand-md .search-input {
  visibility: hidden;
  position: absolute;
  top: 46px;
  left: 0;
  right: 0;
  width: 100%;
  height: 0;
  z-index: 999;
}
.navbar-expand-md .search-input .form-control {
  padding: 10px;
}
.navbar-expand-md .search-input.active {
  visibility: visible;
  height: 46px;
}

.navbar-collapse .navbar-nav {
  text-align: right;
}
.navbar-collapse .navbar-nav .nav-link {
  padding: 10px;
  color: #2f2f2f;
  font-weight: 600;
  font-size: 14px;
  border-bottom: 1px solid #fbfbfb;
}
.navbar-collapse .navbar-nav .nav-link:focus {
  color: #0094d6;
}

.navbar-top {
  border: 2px solid #fbfbfb;
}
.navbar-top .lang .nav-link {
  margin-right: 15px;
  margin-left: 0;
}
.navbar-top .nav-link {
  font-size: 18px;
}
.navbar-top .nav-link.active {
  color: #0094d6;
}

.navbar-center .nav-link {
  font-size: 20px;
}

.navbar-bootom {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  display: flex;
  align-items: center;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}
.navbar-bootom .nav-link {
  font-size: 20px;
}
.navbar-bootom.open {
  visibility: visible;
  height: 60px;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.banner {
  position: relative;
}
.banner:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
}
.banner .heading {
  padding: 20px;
}
.banner .heading p {
  max-width: 250px;
  margin: auto;
}
.banner .heading p:last-child {
  border-bottom: 2px solid #0094d6;
}
.banner img {
  width: 100%;
}
.banner p {
  margin: 0;
}
.banner .banner-text {
  position: relative;
  z-index: 1;
  text-align: center;
}
.banner .banner-text h2 {
  font-size: 48px;
  font-weight: 600;
}

.banner-mobile-block {
  margin: 0 -12px;
  box-shadow: inset 0px 80px 75px 10px #fff, inset 0px -80px 75px -10px #fff;
}
.banner-mobile-block img {
  position: relative;
  z-index: -1;
}

.navbar-desktop {
  display: none;
}

@media only screen and (min-width: 768px) {
  .navbar-expand-md {
    display: none;
  }

  .navbar-desktop {
    display: block;
  }

  .banner {
    position: relative;
    text-align: center;
    background-image: url("../img/doctor-holding.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    padding: 20px 0;
  }
  .banner .heading {
    display: none;
  }

  .navbar-desktop .nav-item:first-child .nav-link {
    margin-left: 0;
  }
  .navbar-desktop .nav-link {
    padding: 0;
    margin-left: 30px;
    color: #2f2f2f;
  }

  .navbar-top {
    padding: 16px 0;
  }
  .navbar-top .phone svg {
    fill: #0094d6;
  }

  .navbar-center {
    padding: 15px 0;
  }
  .navbar-center .logo {
    width: auto;
  }
  .navbar-center p {
    margin: 0;
  }
  .navbar-center .nav-link {
    height: 30px;
  }
  .navbar-center .nav-link:hover {
    border-bottom: 3px solid #0094d6;
    transition: all 0.1s;
  }
  .navbar-center .container {
    position: relative;
  }

  .navbar-bootom {
    background-color: #0094d6;
  }
  .navbar-bootom .nav-link {
    color: #fff;
    height: 30px;
  }
  .navbar-bootom .nav-link:hover {
    color: #fff;
    border-bottom: 3px solid #fff;
    transition: all 0.1s;
  }

  .banner {
    padding: 100px 0;
    flex-direction: row-reverse;
  }
  .banner:before {
    background-color: transparent;
  }
  .banner .banner-text {
    text-align: left;
    padding: 0;
  }

  .banner-mobile-block {
    display: none;
  }
}
@media only screen and (min-width: 1550px) {
  .collapse-btn-group {
    position: absolute;
    right: -50px;
  }
}
.collapse-btn {
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.collapse-btn button {
  position: relative;
  width: 20px;
  height: 20px;
}
.collapse-btn button:focus {
  box-shadow: none;
}

.collapse-btn span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: #c3c3c3;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#desk-collapse-btn.collapse-btn {
  padding: 15px 0 15px 15px;
}
#desk-collapse-btn.collapse-btn span {
  background: #0094d6;
  height: 4px;
}

.collapse-btn span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapse-btn span:nth-child(2) {
  top: 8px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapse-btn span:nth-child(3) {
  top: 16px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.collapse-btn.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 3px;
}

.collapse-btn.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.collapse-btn.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 17px;
  left: 3px;
}

.services {
  display: flex;
  flex-wrap: wrap;
}
.services .text-align {
  width: 100%;
  text-align: center;
}
.services .service-item {
  width: 100%;
  max-width: 320px;
  border: 2px solid #c3c3c3;
  margin: 10px 0;
  padding: 10px;
  font-size: 18px;
}
.services .services-title {
  width: 100%;
  text-align: center;
}
.services .service-head {
  width: 100%;
  text-align: center;
}
.services .b-bottom:after {
  right: 0;
}
.services .services-desk {
  display: none;
}
.services .services-dropdown {
  width: 100%;
}
.services .services-dropdown .service-item {
  max-width: none;
  border: none;
}
.services .services-dropdown .service-item a {
  text-decoration: none;
  color: #c3c3c3;
}
.services .services-dropdown .dropdown-list {
  list-style-type: none;
  padding-left: 0;
}
.services .services-dropdown .accordion-header {
  margin-top: 0;
  padding: 0 1.25rem 0;
}
.services .services-dropdown .accordion-body {
  padding: 0 1.25rem 1rem;
}
.services .services-dropdown .accordion-button {
  padding: 20px 10px;
  font-size: 18px;
}
.services .services-dropdown .accordion-button:not(.collapsed) {
  box-shadow: none;
}
.services .services-dropdown .accordion-button::after {
  background-image: url("../icons/down.svg");
  transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -webkit-transform: rotate(270deg);
}
.services .services-dropdown .accordion-button[aria-expanded=true]::after {
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

@media only screen and (min-width: 768px) {
  .services {
    padding: 0;
  }
  .services .text-align {
    text-align: start;
  }
  .services .service-item {
    border: none;
    margin: 10px 0;
    padding: 0 10px 0 0;
  }
  .services .service-head {
    width: 100%;
    text-align: start;
  }
  .services .b-bottom:after {
    right: auto;
  }
  .services .services-desk {
    display: flex;
  }
  .services .services-dropdown {
    display: none;
  }
}
.carousel {
  margin: 20px 0;
  padding: 30px;
  border-top: 2px solid #fbfbfb;
  border-bottom: 2px solid #fbfbfb;
}
.carousel .slick-slide {
  padding: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel .slick-prev:before,
.carousel .slick-next:before {
  content: "";
}
.carousel .slick-prev {
  background-image: url("../icons/prev.svg");
  background-size: contain;
  left: 0;
}
.carousel .slick-next {
  background-image: url("../icons/next.svg");
  right: 0;
}
.carousel .slide-img {
  width: 100%;
  height: 150px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.carousel .slide-img img {
  height: 100%;
}
.carousel .slick-dots {
  left: 0;
  right: 0;
}
.carousel p {
  margin: 20px 0 0;
  text-align: center;
}

@media only screen and (min-width: 430px) {
  .carousel .slide-img {
    width: 290px;
    height: 290px;
  }
}
.about-us {
  position: relative;
  background-image: url("../img/about-us-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.about-us .about-us-item {
  padding: 0 30px;
}
.about-us .about-us-item h2 {
  color: #0094d6;
}
.about-us:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(47, 47, 47, 0.9);
}
.about-us h2 {
  color: #fff;
}
.about-us p {
  font-size: 18px;
  color: #fff;
}
.about-us .container {
  position: relative;
  z-index: 1;
}
.about-us .row {
  padding: 30px 0;
}

.our-team-item {
  width: 290px;
  padding: 0;
  margin: 10px;
}

.our-team-title a {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f2f;
  text-decoration: none;
}
.our-team-title a:hover {
  color: #0094d6;
}

.our-team-img {
  border-radius: 0;
  height: 290px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.our-team-img img {
  width: 100%;
}

.our-team-body {
  padding: 20px 0;
}

.our-team .b-bottom {
  display: flex;
  justify-content: center;
  padding: 0;
}
.our-team .b-bottom:after {
  right: 0;
}
.our-team .btn-primary {
  width: 230px;
}

.team-member .member-image img {
  width: 100%;
}

.content .our-team-item {
  width: 260px;
}
.content .our-team-item .our-team-img {
  height: 260px;
}

@media only screen and (min-width: 768px) {
  .about-us .about-us-item {
    padding: 0;
    margin: 30px 0;
  }
  .about-us .b-bottom:after {
    right: auto;
  }

  .team-member {
    padding-left: 80px;
  }
  .team-member h1 {
    width: 100%;
    margin: 0;
  }
  .team-member .content {
    padding: 0 0 40px;
  }
  .team-member .b-bottom {
    text-align: start;
  }
  .team-member .b-bottom:after {
    right: auto;
  }
  .team-member .b-bottom h2 {
    margin-left: 0;
  }
}
@media only screen and (min-width: 992px) {
  .team-member .content {
    padding: 0 0 0 80px;
  }
}
.articles {
  background-color: #fbfbfb;
}
.articles .article {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}
.articles .article-img {
  max-height: 250px;
  overflow: hidden;
  margin: 20px 0;
}
.articles .article-body {
  padding: 0 10px;
}
.articles img {
  width: 100%;
}
.articles h4 {
  color: #0094d6;
  margin: 20px 0;
  font-size: 30px;
  font-weight: 600;
}
.articles p {
  font-size: 14px;
}
.articles .text-center {
  width: 100%;
}
.articles .btn-primary {
  max-width: 230px;
}
.articles .b-bottom::after {
  right: 0;
}

@media only screen and (min-width: 768px) {
  .articles .b-bottom::after {
    right: auto;
  }
}
.gallery .grid-gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(11, 40vw);
  grid-gap: 20px;
}
.gallery .gallery-item {
  overflow: hidden;
}
.gallery .gallery-item:nth-child(1) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}
.gallery .gallery-item:nth-child(4) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}
.gallery .gallery-item:nth-child(7) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}
.gallery .gallery-item:nth-child(10) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 7;
  grid-row-end: 8;
}
.gallery .gallery-item:nth-child(13) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 9;
  grid-row-end: 10;
}
.gallery .gallery-item:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 11;
  grid-row-end: 12;
}
.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gallery .btn-primary {
  margin: 20px auto;
}

@media only screen and (min-width: 768px) {
  .gallery .grid-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .gallery .gallery-item {
    width: calc(50% - 20px);
    height: 260px;
  }
  .gallery .button {
    text-align: center;
  }
}
@media only screen and (min-width: 1200px) {
  .gallery .gallery-item {
    width: calc(25% - 20px);
    height: 260px;
  }
}
.reviews .review-title {
  border-bottom: 2px solid #fbfbfb;
}
.reviews .review-item {
  margin: 20px;
  padding: 20px;
  box-shadow: 0 0 20px -4px #c3c3c3;
  background-color: #fff;
}
.reviews h3 {
  color: #0094d6;
  margin: 20px 0;
}
.reviews p {
  margin: 20px 0;
}
.reviews span {
  color: #fbfbfb;
}
.reviews .button {
  text-align: center;
  width: 100%;
}

@media only screen and (min-width: 448px) {
  .reviews .review-item {
    margin: 20px 0;
  }
}
.form {
  background-color: #fff;
  padding: 30px 10px;
}
.form h2 {
  margin: 0;
}
.form input[type=checkbox] {
  max-width: 40px;
  width: 100%;
  height: 40px;
  margin: 0;
}
.form .form-checkbox {
  display: flex;
  align-items: center;
  padding: 0;
}
.form .form-checkbox p {
  margin: 0;
}
.form .center-block {
  padding: 50px;
  text-align: center;
}
.form .b-bottom {
  width: 100%;
}
.form .b-bottom h2 {
  margin: 20px auto;
}
.form .form-select {
  padding-right: 30px;
}

@media only screen and (min-width: 768px) {
  .form {
    padding: 50px;
  }
  .form .b-bottom h2 {
    margin: 20px 0;
  }
}
.account-block {
  background-color: #fff;
}
.account-block .account-btn-group {
  flex-direction: column;
}
.account-block .btn-primary {
  max-width: 230px;
  width: 100%;
  margin: 5px auto;
}
.account-block .client-block_name {
  text-align: center;
}
.account-block h2 {
  margin: 0 auto 20px;
}
.account-block .table a {
  color: #0094d6;
}
.account-block .scroll-table-mobile {
  overflow-x: auto;
}

@media only screen and (min-width: 768px) {
  .account-block .account-btn-group {
    flex-direction: row;
    justify-content: flex-end;
  }
  .account-block .btn-primary {
    margin: 0 10px 0 0;
  }
  .account-block .client-block_name {
    text-align: left;
  }
  .account-block h2 {
    margin: 0 0 20px;
  }
}
.pagination-block .page-link {
  border: none;
  color: #2f2f2f;
}
.pagination-block .page-link:hover, .pagination-block .page-link:focus {
  box-shadow: none;
}

.search-result__title {
  position: relative;
  padding: 20px 0;
  margin: 20px 12px;
  border-bottom: 2px solid #fbfbfb;
  width: calc(100% - 24px);
}
.search-result__title h4 {
  padding-left: 20px;
  margin: 0;
}
.search-result__title:before {
  content: "";
  position: absolute;
  top: calc(50% - 7px);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #0094d6;
}

footer {
  background-color: #919ba6;
  padding: 35px 0 0;
  min-height: 470px;
}
footer .logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
footer .logo .logo-img {
  width: 100px;
}
footer .logo img {
  width: 100%;
}
footer .logo p {
  margin: 0 10px;
}
footer p,
footer a,
footer button {
  color: #fff;
}
footer .btn-primary {
  background-color: transparent;
  border: 2px solid #fff;
  max-width: none;
  margin: 30px 0;
}
footer .btn-primary:hover {
  border-color: #fff;
}
footer .nav-link {
  color: #fff;
}
footer .social-media {
  padding: 10px 0;
  border-bottom: none;
}
footer .copyright {
  background-color: #717982;
  padding: 18px 0;
}
footer .copyright p {
  color: #c3c3c3;
  margin: 0;
}

.social-media {
  border-top: 2px solid #c3c3c3;
  border-bottom: 2px solid #c3c3c3;
  padding: 10px;
  margin: 20px 0;
}
.social-media .social-icon {
  margin: 20px 20px 20px 0;
}
.social-media .social-icon span {
  font-size: 20px;
  color: #c3c3c3;
}
.social-media .social-icon a {
  text-decoration: none;
}
.social-media .social-icon a:hover span {
  color: #fff;
}

@media only screen and (min-width: 768px) {
  footer .logo {
    display: block;
  }
  footer .logo p {
    margin: 0;
  }
  footer .btn-primary {
    max-width: 300px;
    margin: 0;
  }
}
.search {
  position: absolute;
  left: 0;
  max-width: 500px;
}
.search .search-field {
  visibility: hidden;
  width: 0;
  height: 46px;
  max-width: 320px;
  padding: 0;
  margin-left: 46px;
  border: 1px solid #fbfbfb;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.search.active .search-field {
  visibility: visible;
  width: 320px;
  padding: 10px 20px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.search.active .search-btn {
  background-color: #fff;
  transition-delay: 0ms;
}
.search.active .search-btn span {
  color: #c3c3c3;
  transition-delay: 0s;
}
.search .search-btn {
  position: absolute;
  background-color: transparent;
  border: none;
  min-width: 46px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-delay: 0.5s;
  transition-property: background-color;
}
.search .search-btn span {
  font-size: 20px;
  transition-delay: 0.5s;
  color: #fff;
}
.search::after {
  width: 46px;
  border-left: 1px solid #fbfbfb;
}
.search::after:hover {
  background-color: #fbfbfb;
  cursor: pointer;
}

.icon-add:before {
  content: "\e900";
}

.icon-down-arrow:before {
  content: "\e90a";
}

.icon-Facebook:before {
  content: "\e911";
}

.icon-INST:before {
  content: "\e912";
}

.icon-loupe:before {
  content: "\e913";
}

.icon-man-user:before {
  content: "\e914";
}

.icon-next:before {
  content: "\e915";
}

.icon-odnoklassniki:before {
  content: "\e916";
}

.icon-phone-call:before {
  content: "\e917";
}

.icon-tick:before {
  content: "\e918";
}

.icon-Twitter:before {
  content: "\e919";
}

.icon-VK:before {
  content: "\e91a";
}

.icon-play:before {
  content: "\e91b";
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?mlm9oe");
  src: url("../fonts/icomoon.eot?mlm9oe#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?mlm9oe") format("truetype"), url("../fonts/icomoon.woff?mlm9oe") format("woff"), url("../fonts/icomoon.svg?mlm9oe#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}