.about-us {
    position: relative;
    background-image: url('../img/about-us-bg.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .about-us-item {
        padding: 0 30px;

        h2 {
            color: $blue;
        }
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $black, $alpha: 0.9);
    }

    h2 {
        color: $white;
    }

    p {
        font-size: 18px;
        color: $white;
    }

    .container {
        position: relative;
        z-index: 1;
    }

    .row {
        padding: 30px 0;
    }
}

.our-team-item {
    width: 290px;
    padding: 0;
    margin: 10px;
}

.our-team-title a {
    font-size: 16px;
    font-weight: 600;
    color: $black;
    text-decoration: none;

    &:hover {
        color: $blue;
    }
}

.our-team-img {
    border-radius: 0;
    height: 290px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.our-team-body {
    padding: 20px 0;
}

.our-team {
    .b-bottom {
        display: flex;
        justify-content: center;
        padding: 0;

        &:after {
            right: 0;
        }
    }

    .btn-primary {
        width: 230px;
    }
}

.team-member {
    .member-image {
        img {
            width: 100%;
        }
    }
}


.content {
    .our-team-item {
        width: 260px;
        
        .our-team-img {
            height: 260px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .about-us {
        .about-us-item {
            padding: 0;
            margin: 30px 0;
        }

        .b-bottom {
            &:after {
                right: auto;
            }
        }
    }

    .our-team {
        .services {
            display: block;
        }

        .b-bottom {
            justify-content: flex-start;

            &:after {
                right: auto;
            }
        }
    }

    .team-member {
        padding-left: 80px;

        h1 {
            width: 100%;
            margin: 0;
        }

        .content {
            padding: 0 0 40px;
        }

        .b-bottom {
            text-align: start;

            &:after {
                right: auto;
            }

            h2 {
                margin-left: 0;
            }
        }
    }
}

@media only screen and (min-width: 992px) {
    .team-member {
        .content {
            padding: 0 0 0 80px;
        }
    }
}