.articles {
    background-color: $light-grey;

    .article {
        background-color: #fff;
        padding: 20px;
        margin: 20px 0;
    }

    .article-img {
        max-height: 250px;
        overflow: hidden;
        margin: 20px 0;
    }

    .article-body {
        padding: 0 10px;
    }
    
    img {
        width: 100%;
    }

    h4 {
        color: $blue;
        margin: 20px 0;
        font-size: 30px;
        font-weight: 600;
    }    

    p {
        font-size: 14px;
    }

    .text-center {
        width: 100%;
    }
    
    .btn-primary {
        max-width: 230px;
    }
    
    .b-bottom {
        &::after {
            right: 0;
        }
    }
}

@media only screen and (min-width: 768px){
    .articles {
        .b-bottom {
            &::after {
                right: auto;
            }
        }
    }
}