footer {
    background-color: #919ba6;
    padding: 35px 0 0;
    min-height: 470px;

    .logo {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
        .logo-img {
            width: 100px;
        }

        img {
            width: 100%;
        }

        p {
            margin: 0 10px;
        }
    }

    p,
    a,
    button {
        color: $white;
    }

    .btn-primary {
        background-color: transparent;
        border: 2px solid #fff;
        max-width: none;
        margin: 30px 0;

        &:hover {
            border-color: #fff;
        }
    }

    .nav-link {
        color: $white;
    }

    .social-media {
        padding: 10px 0;
        border-bottom: none;
    }

    .copyright {
        background-color: #717982;
        padding: 18px 0;
        
        p {
            color: $grey;
            margin: 0;
        }
    }
}

.social-media {
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;
    padding: 10px;
    margin: 20px 0;

    .social-icon {
        margin: 20px 20px 20px 0;

        span {
            font-size: 20px;
            color: $grey;
        }

        a {
            text-decoration: none;

            &:hover span {
                color: $white;
            }
        }
    }
}

@media only screen and (min-width: 768px){
    footer {
        .logo {
            display: block;

            p {
                margin: 0;
            }
        }

        .btn-primary {
            max-width: 300px;
            margin: 0;
        }
    }
}