.gallery {
    .grid-gallery {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(11, 40vw);
        grid-gap: 20px;
    }

    .gallery-item {
        overflow: hidden;

        &:nth-child(1) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 1;
            grid-row-end: 2;
        }

        &:nth-child(4) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 3;
            grid-row-end: 4;
        }

        &:nth-child(7) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 5;
            grid-row-end: 6;
        }

        &:nth-child(10) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 7;
            grid-row-end: 8;
        }

        &:nth-child(13) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 9;
            grid-row-end: 10;
        }

        &:nth-child(16) {
            grid-column-start: 1;
            grid-column-end: 3;
            grid-row-start: 11;
            grid-row-end: 12;
        }
    }

    

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .btn-primary {
        margin: 20px auto;
    }
}

@media only screen and (min-width: 768px) {

    .gallery {
        .grid-gallery {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }
    
        .gallery-item {
            width: calc(50% - 20px);
            height: 260px;
        }

        .button {
            text-align: center;
        }
    }
}

@media only screen and (min-width: 1200px) {
    
    .gallery {
        .gallery-item {
            width: calc(25% - 20px);
            height: 260px;
        }
    }
}