@font-face {
    font-family: 'Gilrou-Medium';
    src: url('../Gilroy-Medium.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

html {
    font-size: 12px !important;
}

@media only screen and (min-width: 440px) {
    html {
        font-size: 16px !important;
    }
}

* {
    &:focus {
        box-shadow: none !important;
    }
}


body {
    font-family: 'Gilrou-Medium';
}

.container {
    padding: 0 20px;
}

.btn-primary {
    border-radius: 0;
    border: 2px solid $blue;
    background-color: $blue;
    color: $white;
    margin: 5px auto;
    width: 100%;
    max-width: 290px;
    padding: 16px;
    font-size: 1.2rem;

    &:focus {
        background-color: transparent;
        box-shadow: none;
    }

    &:hover {
        background-color: $white;
        color: $black;
        box-shadow: none;
    }
}

.b-bottom {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 15px auto;

    h2 {
        font-weight: 600;
        font-size: 2.25rem;
    }

    &:after {
        content: '';
        width: 100px;
        border-bottom: 3px solid $blue;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.link {
    text-decoration: none;
    color: $grey;

    &:hover {
        color: $blue;
    }
}

.nav-item .nav-link:hover {
    color: $blue;
}

p {
    color: $black;
}

h2 {
    margin: 20px auto;
}

section {
    padding: 30px 0;
}

.button {
    text-align: center;
}

.icon {
    width: 40px;
    height: auto;
    margin: auto;

    svg {
        width: 100%;
        height: auto;
    }
}

.block-title {
    text-align: center;
}

.border-block {
    border: 2px solid $blue;
    padding: 20px;
    text-align: center;
    max-width: 780px;

    p {
        margin: 0;
    }
}

.table-price {
    table {
        width: 100%;
    }

    thead {
        text-align: center;
        color: $blue;

        h3 {
            margin: 10px 0;
        }

        tr {
            border-top: 2px solid $light-grey;
            border-bottom: 2px solid $light-grey;
        }
    }

    td {
        padding: 5px 0;
        border-bottom: 2px solid $light-grey;
    }

    td:nth-child(2) {
        text-align: right;
    }

    td:nth-child(1) {
        padding-right: 10px;
    }
}

.back-arrow {
    position: absolute;
    top: 40%;
    left: 0;
    width: 25px;
    height: 25px;

    img {
        width: 100%;
    }
}

.accordion-button {
    &:not(.collapsed) {
        background-color: transparent;
        color: $grey;
        box-shadow: none!important;
    }

    &:focus {
        box-shadow: none;
    }
}

.questions {
    background-color: $light-grey;

    h2 {
        margin: 0;
    }

    .accordion-item {
        border: none;
        margin: 10px 0;
        box-shadow: 0 0 10px 0px #c3c3c3;
    }
    
    .accordion-button {
        font-weight: 700;

        div {
            width: 100%;
        }

        &::after {
            background-image: none;
        }

        span {
            position: absolute;
            right: 20px;
            transition: all 0.5s;
            color: $blue;
        }

        &:not(.collapsed) {
            background-color: transparent;

            span {
                transform: rotate(-135deg);
                transition: all 0.5s;
                color: $grey;
            }
        }
    }
}


.light-grey-bg {
    background-color: $light-grey;
}

.box-shadow {
    box-shadow: 0 0 20px 0px $grey;
}

.contact {
    text-align: center;

    table {
        margin: auto;
    }

    td {
        text-align: left;
        padding-right: 10px;
    }
}

.page-not-found {
    text-align: center;

    h1 {
        font-size: 4.5rem;
        color: $blue;
    }
}

.form-control {
    border: 1px solid $grey;
    border-radius: 0;
    padding: 20px;

    &:focus {
        border-color: $grey;
        box-shadow: none;
    }
}

.text-light-grey {
    color: $grey;
}

.heading {
    position: relative;

    h1,
    h2 {
        width: 80%;
        margin: 0 auto 20px;
    }
}

.block-item__title {
    font-size: 1rem;
    font-weight: 600;
}

.block-item__body {
    padding: 20px 0;

    .text-light-grey {
        margin: 0;
    }
}

.block-item__img {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;

    img {
        width:  100%;
        height: 100%;
        object-fit: cover;
    }
}

.login-form {
    padding: 0;

    .modal-header {
        border: none;
    }
}

.sing-up-block {
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;

    h2 {
        font-size: 3rem;
        margin: 10px 0;
    }

    p {
        font-size: 1.125rem;
        margin: 10px 0;
    }

    button {
        max-width: 300px;
        position: relative;
        margin: 30px 0;

        &:after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            bottom: -25px;
            height: 3px;
            width: 100px;
            margin: auto;
            background-color: #919ba6;
        }
    }

    div p {
        margin: 0;
    }
}

.contact {
    .btn-primary {
        max-width: 300px;
    }
}

@media only screen and (min-width: 448px) {
    section {
        padding: 50px 0;
    }

    .contact {
        text-align: start;

        table {
            margin: 0;
        }
    }

    .login-form {
        padding: 30px;
    }

    .sing-up-block {
        height: 780px;

        h2 {
            margin: 30px 0;
        }

        p {
            margin: 30px 0 0;
        }

        button {
            margin: 60px 0;

            &::after {
                bottom: -40px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .b-bottom {
        text-align: left;
        padding: 0;

        h2 {
            margin: 20px 0;
        }

        &:after {
            right: auto;
        }

        &.heading-center {
            justify-content: center;

            &:after {
                right: 0 !important;
            }
        }
    }


    h2 {
        margin: 20px 0;
    }

    .button {
        text-align: left;
    }

    .content {
        padding: 0 80px;

        .b-bottom {
            &:after {
                right: auto;
            }
        }
    }

    .back-arrow {
        left: -50px;
    }

    .page-not-found {
        text-align: start;
    }

    .heading {

        h1,
        h2 {
            width: 100%;
        }
    }
}

@media only screen and (min-width: 992px) {
    .block-item__img {
        max-height: 200px;
        overflow: hidden;
    }
}