@font-face {
    font-family: 'Gilrou-Medium';
    src: url('../Gilroy-Medium.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}

body {
    font-family: 'Gilrou-Medium';
}

.btn-primary {
    border-radius: 0;
    border: 2px solid $blue;
    background-color: $blue;
    color: $white;
    margin: 5px auto;
    width: 100%;
    max-width: 300px;

    &:focus,
    &:hover {
        background-color: $white;
        color: $black;
    }
}

.b-bottom {
    display: flex;
    width: 100%;
    text-align: center;
    position: relative;
    margin: 15px auto;

    &:after {
        content: '';
        width: 100px;
        border-bottom: 3px solid $blue;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }
}

.link {
    text-decoration: none;
    color: $grey;

    &:hover {
        color: $blue;
    }
}

.nav-item .nav-link:hover {
    color: $blue;
}

p {
    color: $black;
}

h2 {
    margin: 20px auto;
}

section {
    padding: 30px 0;
}

.button {
    text-align: center;
}

.icon {
    width: 40px;
    height: auto;
    margin: auto;

    svg {
        width: 100%;
        height: auto;
    }
}

.block-title {
    text-align: center;
}

.border-block {
    border: 2px solid $blue;
    padding: 20px;
    text-align: center;

    p {
        margin: 0;
    }
}

.table-price {
    table {
        width: 100%;
    }

    thead {
        text-align: center;
        color: $blue;

        h3 {
            margin: 10px 0;
        }

        tr {
            border-top: 2px solid $light-grey;
            border-bottom: 2px solid $light-grey;
        }
    }

    td {
        padding: 5px 0;
        border-bottom: 2px solid $light-grey;
    }

    td:nth-child(2) {
        text-align: right;
    }

    td:nth-child(1) {
        padding-right: 10px;
    }
}

.back-arrow {
    position: absolute;
    top: 40%;
    left: 0;
    width: 25px;
    height: 25px;

    img {
        width: 100%;
    }
}

.accordion-button {
    &:not(.collapsed) {
        background-color: $white;
        color: $grey;

        &:after {
            background-image: url('../icons/add.svg');
            transform: rotate(-135deg);
        }
    }

    &:focus {
        box-shadow: none;
    }

    &:after {
        background-image: url('../icons/add.svg');
    }
}

.light-grey-bg {
    background-color: $light-grey;
}

.box-shadow {
    box-shadow: 0 0 20px 0px $grey;
}

.contact {
    text-align: center;

    table {
        margin: auto;
    }

    td {
        text-align: left;
        padding-right: 10px;
    }
}

.page-not-found {
    text-align: center;

    h1 {
        font-size: 72px;
        color: $blue;
    }
}

.form-control {
    border: 1px solid $grey;
    border-radius: 0;
    padding: 20px;

    &:focus {
        border-color: $grey;
        box-shadow: none;
    }
}

.text-light-grey {
    color: $grey;
}

.heading {
    position: relative;

    h1,
    h2 {
        width: 80%;
        margin: 0 auto 20px;
    }
}

.block-item__title {
    font-size: 16px;
    font-weight: 600;
}

.block-item__body {
    padding: 20px 0;
}

.block-item__img {
    max-height: 200px;
    overflow: hidden;

    img {
        width: 100%;
    }
}

.search {
    display: none;
}

.login-form {
    padding: 0;

    .modal-header {
        border: none;
    }
}


@media only screen and (min-width: 448px) {
    section {
        padding: 50px 0;
    }

    .contact {
        text-align: start;

        table {
            margin: 0;
        }
    }

    .login-form {
        padding: 30px;
    }
}

@media only screen and (min-width: 768px) {
    .b-bottom {
        text-align: left;
        padding: 0;

        h2 {
            margin: 20px 0;
        }

        &:after {
            right: auto;
        }
    }

    h2 {
        margin: 20px 0;
    }

    .button {
        text-align: left;
    }

    .content {
        padding: 0 80px;
    }

    .back-arrow {
        left: -50px;
    }

    .page-not-found {
        text-align: start;
    }

    .heading {

        h1,
        h2 {
            width: 100%;
        }
    }

    .search {
        display: block;
        max-width: 500px;
        margin: 20px 0;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            background-image: url('../icons/loupe.svg');
            background-repeat: no-repeat;
            background-size: 22px;
            background-position: center;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            width: 60px;
        }
    }
}