header {
    padding: 0;

    .navbar {
        padding: 0;
    }

    .logo {
        width: 68px;
        padding: 5px 10px;
    }

    .nav {
        flex-wrap: nowrap;

        &.hide {
            a {
                opacity: 0;
            }
        }

        a {
            transition: all 0.5s;
        }
    }

    .tabs {
        width: 100%;
        border-bottom: 1px solid $grey;
    }

    .tab {
        width: 45px;
        height: 45px;
        border: none;
        border-radius: 0;
        border-left: 1px solid $grey;
        display: flex;
        justify-content: center;
        align-items: center;

        &:focus {
            box-shadow: none;
        }

        .search-tab,
        a {
            text-decoration: none;
            line-height: 1;
        }

        span {
            font-size: 20px;
            color: $grey;
        }
    }

    .phone {
        span {
            color: $blue;
        }
    }
}

.lang {
    .nav-link {
        padding: 5px;
        color: $grey;
        font-weight: 600;
        font-size: 1.125rem;

        &:focus {
            color: $blue;
        }
    }
}

.navbar-expand-md {
    min-height: 46px;

    .fixed-bar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        background-color: #fff;
    }

    .nav-item {
        .active {
            color: $blue;
        }
    }
   
    .search-input {
        position: absolute;
        top: 46px;
        left: 0;
        right: 0;
        width: 100%;
        margin: auto;
        height: 46px;
        z-index: 999;
        opacity: 0;

        .form-control {
            padding: 10px;
        }

        &.active {
            opacity: 1;
            z-index: 999;
        }
    }   
}

.navbar-collapse {
    position: relative;
    z-index: 99999;
    background-color: #fff;

    .navbar-nav {
        text-align: right;

        .nav-link {
            padding: 10px;
            color: $black;
            font-weight: 600;
            font-size: 1.2rem;
            border-bottom: 1px solid $light-grey;

            &:focus {
                color: $blue;
            }
        }
    }
}

.navbar-top {
    border: 2px solid $light-grey;

    .lang {
        .nav-link {
            margin-right: 15px;
            margin-left: 0;
        }
    }

    .nav-link {
        font-size: 1rem;

        &.active {
            color: $blue;
        }
    }
}

.navbar-center {
    .nav-link {
        font-size: 1.25rem;
    }
}

.navbar-bootom {
    overflow: hidden;
    visibility: hidden;
    height: 0;
    display: flex;
    align-items: center;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;

    .nav-link {
        font-size: 1.25rem;
    }

    &.open {
        visibility: visible;
        height: 60px;
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
    }
}

.banner {
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba($color: $white, $alpha: 0.7);
    }

    .heading {
        margin: 30px 0;
        padding: 20px;

        p {
            max-width: 250px;
            margin: 0 auto!important;

            &:last-child {
                border-bottom: 2px solid #0094d6;
            }
        }
    }

    img {
        width: 100%;
    }

    p {
        margin: 0;
    }

    .banner-text {
        position: relative;
        z-index: 1;
        text-align: center;

        h2 {
            font-size: 3rem;
            font-weight: 600;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        p {
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .down-arrow {
        margin-top: 100px;
        width: 100%;
        position: relative;
        z-index: 9;
        display: none;

        .translate-arrow {
            width: 50px;
            margin: auto;
            transform: translateY(0px);
            transition: transform 0.5s ease 0s;

            &:hover {
                cursor: pointer;
                transform: translateY(10px);
            }

            span {
                font-size: 50px;
                color: $grey;
            }
        }
    }
}


.banner-mobile-block {
    margin: 0 -20px;
    box-shadow:
        inset 0px 80px 75px 10px #fff,
        inset 0px -80px 75px -10px #fff;

    img {
        position: relative;
        z-index: -1;
    }
}

.navbar-desktop {
    display: none;
}

@media only screen and (min-width: 768px) {
    .navbar-expand-md {
        display: none;
    }

    .navbar-desktop {
        display: block;
    }

    .banner {
        position: relative;
        text-align: center;
        background-image: url('../img/doctor-holding.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: right;
        padding: 20px 0;
        margin-top: 0;

        .heading {
            display: none;
        }

        .btn {
            &:nth-of-type(1) {
                margin-right: 30px;
            }
        }

        .down-arrow {
            display: block;
        }
    }

    .navbar-desktop {
        .nav-item {
            &:first-child {
                .nav-link {
                    margin-left: 0;
                }
            }
        }

        .nav-link {
            padding: 0;
            margin-left: 30px;
            color: $black;
        }
    }

    .navbar-top {
        padding: 16px 0;

        .phone {
            svg {
                fill: $blue;
            }
        }
    }

    .navbar-center {
        padding: 15px 0;

        .logo {
            width: auto;
        }

        p {
            margin: 0;
        }

        .nav-link {
            height: 30px;

            &:hover {
                border-bottom: 3px solid $blue;
                transition: all 0.1s;
            }
        }

        .container {
            position: relative;
        }
    }

    .navbar-bootom {
        background-color: $blue;

        .nav-link {
            color: $white;
            height: 30px;

            &:hover {
                color: $white;
                border-bottom: 3px solid $white;
                transition: all 0.1s;
            }
        }
    }

    .banner {
        padding: 100px 0;
        flex-direction: row-reverse;

        &:before {
            background-color: transparent;
        }

        .banner-text {
            text-align: left;
            padding: 0;
        }
    }

    .banner-mobile-block {
        display: none;
    }
}

@media only screen and (min-width: 1550px) {
    .collapse-btn-group {
        position: absolute;
        right: -90px;
    }
}