
.icon-add:before {
    content: "\e900";
}
.icon-down-arrow:before {
    content: "\e90a";
}
.icon-Facebook:before {
    content: "\e911";
}
.icon-INST:before {
    content: "\e912";
}
.icon-loupe:before {
    content: "\e913";
}
.icon-man-user:before {
    content: "\e914";
}
.icon-next:before {
    content: "\e915";
}
.icon-odnoklassniki:before {
    content: "\e916";
}
.icon-phone-call:before {
    content: "\e917";
}
.icon-tick:before {
    content: "\e918";
}
.icon-Twitter:before {
    content: "\e919";
}
.icon-VK:before {
    content: "\e91a";
}
.icon-play:before {
    content: "\e91b";
}
  