.search {  
    position: absolute;
    max-width: 500px;
    right: 50px;
    border-width: 2px;
    border-style: solid;
    border-color: #fff;
    height: 50px;
    
    .search-field {        
        z-index: 9;
        width: 0;
        height: 46px;
        max-width: 320px;
        padding: 0;
        border: 1px solid $light-grey;
        -webkit-transition: all  .5s ease-in-out;
        -moz-transition: all  .5s ease-in-out;
        -o-transition: all  .5s ease-in-out;
        transition: all  .5s ease-in-out;
    }

    &.active {
        border-color: $grey;

        .search-field {
            width: 320px;
            padding: 11px 20px;
            -webkit-transition: all  .5s ease-in-out;
            -moz-transition: all  .5s ease-in-out;
            -o-transition: all  .5s ease-in-out;
            transition: all  .5s ease-in-out;
        }

        .submit-btn {
            background-color: $white;
            transition-delay: 0ms; 
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            display: flex;
        }
    }

    .submit-btn,
    .search-btn {
        background-color: transparent;
        border: none;
        padding: 23px 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        span {
            font-size: 20px;
            color: $grey;
        }
    }     
    
    .submit-btn {
        display: none;
    }

    .search-btn {
        span {
            position: relative;
            z-index: -1;
        }
    }

    &.search-component {
        position: static;

        form {
            width: 100%;
        }

        .submit-btn {
            padding: 8px;
        }
    }

    &::after {
        width: 46px;
        border-left: 1px solid $light-grey;

        &:hover {
            background-color: $light-grey;
            cursor: pointer;
        }
    }
}

.search-form {
    border: 1px solid #c3c3c3;
    border-radius: 0;
    padding: 20px;

    .form-control {
        border: none;
        padding: 0;
    }
}

#mobile-search-field {
    &.active {
        height: 100vh;
        background-color: rgba($color: $black, $alpha: 0.8);

        .search-field {
            max-width: 300px;
        }

        form {
            position: initial;
        }
    }

    .search-field {
        border: none;
    }

    .search-btn {
        border: none;
        width: 46px;
        height: 46px;
        background-color: #fff;
        border-left: 1px solid $grey;
    }

    form {
        position: relative;
        z-index: -1;
    }
}