.services {    
    display: flex;
    flex-wrap: wrap;

    .text-align {
        width: 100%;
        text-align: center;
    }

    .service-item {
        width: 100%;
        max-width: 320px;
        margin: 10px 0;
        padding: 10px;
        font-size: 1.125rem;

        .link:hover {
            font-weight: 700;
            color: $black;
        }
    }

    .services-title {
        width: 100%;
        text-align: center;
    }

    .service-head {
        width: 100%;
        text-align: center;
    }

    .b-bottom {
        &:after {
            right: 0;
        }
    }

    .services-desk {
        display: none;
    }

    

    .services-dropdown {
        width: 100%;
        max-width: 670px;
        border: 2px solid $grey;

        .service-item {
            max-width: none;
            border: none;

            a {
                text-decoration: none;
                color: $grey;
            }
        }

        .dropdown-list {
            list-style-type: none;
            padding-left: 0;
        }

        .accordion-header {
            margin-top: 0;
            padding: 0 1.25rem 0;
        }

        .accordion-body {
            padding: 0 1.25rem 1rem;
        }

        .accordion-item {
            border: none;
        }

        .accordion-button {
            padding: 20px 10px;
            font-size: 1.125rem;
        }

        .accordion-button:not(.collapsed) {
            box-shadow: none;
        }

        .accordion-button {
            &::after {
                background-image: url("../icons/down.svg");
                transform:rotate(270deg);
                -ms-transform:rotate(270deg);
                -webkit-transform:rotate(270deg);
            }

            &[aria-expanded=true] {
                &::after{
                    transform:rotate(90deg);
                    -ms-transform:rotate(90deg);
                    -webkit-transform:rotate(90deg);
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .services {  
        padding: 0;

        .text-align {
            text-align: start;
        }

        .service-item {
            border: none;
            margin: 10px 0;
            padding: 5px 10px 5px 0;
        }

        .service-head {
            width: 100%;
            text-align: start;
        }

        .b-bottom {
            &:after {
                right: auto;
            }
        }

        .services-desk {
            display: flex;
        }

        .services-dropdown {
            display: none;
        }
    }
}