.carousel {
    margin: 20px 0;
    padding: 30px;
    border-top: 2px solid $grey;
    border-bottom: 2px solid $grey;



    .slick-slide {
        padding: 10px;
        font-size: 1.125rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .slick-prev,
    .slick-next {
        &:before {
            content: '';
        }
    }

    .slick-prev {
        background-image: url('../icons/prev.svg');
        background-size: contain;
        left: 0;
    }

    .slick-next {
        background-image: url('../icons/next.svg');
        right: 0;
    }

    .slide-img {
        width: 100%;
        height: 150px;
        overflow: hidden;
        display: flex;
        justify-content: center;

        img {
            height: 100%;
        }
    }

    .slick-dots {
        left: 0;
        right: 0;
    }

    p {
        margin: 20px 0 0;
        text-align: center;
    }
}

.dots-carousel {
    margin-top: 50px;
    margin-bottom: 70px!important;
    padding: 0;
    border: none;

    .slide-img {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%;
            height: auto;
        }
    }

    .slick-slide{
        padding: 0;
    }

    .slick-dots {
        bottom: -50px;
        button {
            width: 10px;
            height: 10px;
            
            &::before {
                width: 10px;
                height: 10px;
                font-size: 0;
                color: #fff;
                border: 1px solid $black;
                border-radius: 50%;
            }
        }

        li.slick-active button:before {
            background-color: $black;
        }
    }
}

@media only screen and (min-width: 430px) {
    .carousel {
        .slide-img {
            width: 290px;
            height: 290px;
        }
    }

    .dots-carousel {    
        .slide-img {
            img {
                width: auto;
                height: 100%;
            }
        }
    }    
}